.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    flex: 1 1 auto;
    overflow: auto;
}