<div class="login-wrapper">
    <!-- Back Button -->
    <a routerLink="/" class="back-btn">
        <mat-icon>arrow_back</mat-icon> Back to Home
    </a>
    <!-- Error Alert -->
    @if (showErrorAlert()) {
    <div class="error-alert">
        <span>{{errorFromServer()}}</span>
        <button mat-icon-button (click)="closeErrorAlert()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    }

    <div class="auth-container">
        <!-- Login Section -->
        <div class="auth-card login-section">
            <div class="user-icon">
                <mat-icon>person</mat-icon>
            </div>
            <h2>LOGIN</h2>
            
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <div class="input-icon"><mat-icon>email</mat-icon></div>
                    <input type="email" formControlName="email" placeholder="Email" (input)="updateLoginErrorMsg('email')">
                </div>
                @if (loginForm.controls['email'].invalid && loginForm.controls['email'].touched) {
                    <div class="error-text">{{loginErrorMsg.email()}}</div>
                }

                <div class="form-group">
                    <div class="input-icon"><mat-icon>lock</mat-icon></div>
                    <input type="password" formControlName="password" placeholder="Password" (input)="updateLoginErrorMsg('password')">
                </div>
                @if (loginForm.controls['password'].invalid && loginForm.controls['password'].touched) {
                    <div class="error-text">{{loginErrorMsg.password()}}</div>
                }

                <div class="remember-me">
                    <mat-checkbox color="primary">Remember me</mat-checkbox>
                </div>
                <button type="submit" class="submit-btn login-btn" [disabled]="loginForm.invalid">LOGIN</button>
                
                <div class="divider">
                    <span>OR</span>
                </div>

                <button type="button" class="google-btn-small" (click)="onGoogleLogin()">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google Logo">
                    <span>Sign in with Google</span>
                </button>

                <div class="forgot-password">
                    <a routerLink="/register">New brawler? sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>
